<!DOCTYPE html>
<html class="dark font-['Exo_2']">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/c2392353e9.js" crossorigin="anonymous"></script>

        {% block head %}{% endblock %}
            
        <title>{% block title %}{% endblock %} - Debait</title>
    </head>
    <body class="dark:bg-primary-bg">
        {% block navbar %}
            <nav class="dark:bg-primary-fg py-4 px-52 flex items-center justify-between shadow-md">
                <a href="/" class="flex items-center">
                    <span class="font-semibold text-5xl dark:text-white font-['Sedgwick_Ave_Display']">Debait.</span>
                </a>

                <form id="search-form">
                    <input type="text" placeholder="Browse..." id="search-tag" class="dark:bg-gray-700 rounded-lg text-white text-sm placeholder-gray-400 placeholder:text-sm" required>
                    <button type="submit" value="Go!" class="bg-cyan-600 m-1 px-3 py-2 rounded-lg font-semibold hover:bg-cyan-500 text-sm">Go!</button>
                </form>

                <div class="text-sm">
                    {% if not user %}
                        <a href="/login?redirect_to={{ url_for(request.endpoint, **request.view_args) }}" class="bg-cyan-600 m-1 px-3 py-2 rounded-lg font-semibold hover:bg-cyan-500">
                            Log in
                        </a>
                        <a href="/register" class="border-white border-solid border-2 m-1 px-3 py-2 rounded-lg font-semibold text-white hover:border-gray-400 hover:text-gray-400">
                            Register
                        </a>
                    {% else %}
                        <button data-dropdown-toggle="profile-menu" class="text-white font-semibold text-base hover:text-gray-400">{{ user.name }}</button>
                        <div id="profile-menu" class="hidden">
                            <div class="flex flex-col gap-3 bg-primary-fg p-4 border-white border-solid border-2 rounded-lg text-gray-200 text-sm">
                                <a href="/" class="hover:text-gray-400">
                                    View profile
                                </a>
                                <hr>
                                <button id="logout-button" class="hover:text-gray-400">
                                    Log out
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}

        <section id="site-content">
            {% block content %}
            {% endblock %}
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    </body>
</html>

<script>
    (() => {
        let form = document.getElementById("search-form");
        form.onsubmit = (event) => {
            event.preventDefault();

            let tag = document.getElementById("search-tag").value;
            window.location.href = `/tag/${tag}`;
        };

        let logoutBtn = document.getElementById("logout-button");
        if (logoutBtn) {
            logoutBtn.onclick = () => {
                fetch("/logout", {
                    method: "POST",
                    body: new URLSearchParams({ csrf_token: "{{ session.csrf_token }}" })
                }).then(() => window.location.reload());
            };
        }
    })();
</script>