{% extends "base.html" %}

{% block title %}Forum for Debate{% endblock %}

{% block content %}
    {% if user %}
        <div class="flex flex-col items-center justify-start w-10/12 mx-auto my-4">
            <div class="flex flex-row items-center bg-primary-fg shadow-md rounded-2xl">
                <button id="general-btn" data-state="{{ 'active' if active == 'general' else 'inactive' }}" class="flex flex-row items-center justify-end border-2 border-primary-fg text-white text-base w-72 pr-14 py-4 rounded-l-2xl data-[state=active]:font-normal data-[state=active]:border-white">General</button>
                <button id="subscribed-btn" data-state="{{ 'active' if active == 'subscribed' else 'inactive' }}" class="flex flex-row items-center justify-start border-2 border-primary-fg text-white text-base w-72 pl-14 py-4 rounded-r-2xl data-[state=active]:font-normal data-[state=active]:border-white">Subscribed</button>
            </div>
        </div>

        <script>
            let generalBtn = document.getElementById("general-btn");
            let subscribedBtn = document.getElementById("subscribed-btn");

            generalBtn.onclick = () => {
                if (window.location.pathname !== "/general")
                    window.location.href = "/general";
            };

            subscribedBtn.onclick = () => {
                if (window.location.pathname !== "/subscribed")
                    window.location.href = "/subscribed";
            };
        </script>
    {% endif %}
        
    <div class="w-10/12 mx-auto bg-primary-fg my-4 rounded-md shadow-md pb-4 px-8 {{ 'pt-0' if header else 'pt-4' }}">
        {% include "includes/tag.html" %}
    </div>
{% endblock %}
