{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="w-7/12 mx-auto bg-primary-fg my-20 rounded-md shadow-md pt-14 pb-8 px-8 flex flex-col items-center justfy-between gap-10">
        <h1 class="text-white flex flex-col items-center justify-start gap-6">
            <span class="text-4xl">Register to</span>
            <span class="text-7xl font-['Sedgwick_Ave_Display']">Debait.</span>
        </h1>


        <form method="POST" class="px-6 mt-4 w-1/2">
            <div class="mb-6">
                <label for="post-title" class="block mb-2 ml-1 text-base font-semibold text-gray-900 dark:text-white">Username:</label>
                <input type="text" id="username" name="username" class="border text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-200 focus:ring-blue-500 focus:border-blue-500 font-normal" placeholder="" required>
            </div>

            <div class="mb-6">
                <label for="post-content" class="block mb-2 ml-1 text-base font-semibold text-gray-900 dark:text-white">Password:</label>
                <input type="password" id="password" name="password" class="border text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-200 focus:ring-blue-500 focus:border-blue-500 font-normal" placeholder="" required>
            </div>
            
            <div class="mb-6">
                <label for="post-content" class="block mb-2 ml-1 text-base font-semibold text-gray-900 dark:text-white">Confirm password:</label>
                <input type="password" id="confirm-password" name="confirm-password" class="border text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-200 focus:ring-blue-500 focus:border-blue-500 font-normal" placeholder="" required>
            </div>
            
            <div class="flex flex-row items-center justify-start gap-3 mt-6">
                <button type="submit" class="text-black font-semibold bg-cyan-600 hover:bg-cyan-500 focus:ring-4 focus:outline-none focus:ring-blue-800 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center h-10">Register</button>
                {% if error %}
                    <div class="text-red-500">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </form>

        <div class="text-white">
            Already have an account? <a class="text-cyan-600 font-bold" href="/login">Log in.</a>
        </div>
    </div>
{% endblock %}