{% extends "base.html" %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}
    <div class="w-10/12 mx-auto bg-primary-fg my-4 rounded-md shadow-md pb-4 px-8 pt-0">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-row items-center justify-start">
                <div class="text-white text-8xl mb-3 mr-3 font-bold">@</div>
                <h1 class="text-gray-200 text-5xl font-bold">{{ tag }}</h1>
            </div>

            <div class="flex flex-row items-center justify-end gap-3">
                {% if user %}
                    <button id="create-post-btn" class="text-black text-md bg-cyan-600 px-5 rounded-3xl font-semibold hover:bg-cyan-500 active:bg-cyan-600 h-14" onclick="showPostForm()">Create a post</button>
                {% else %}
                    <div class="text-base text-white font-semibold">Login to create a post</div>
                {% endif %}

                <button
                    id="subscribe-btn"
                    class="text-white text-md px-5 h-14 rounded-3xl font-semibold border-white border-2 hover:border-gray-400 hover:text-gray-400"
                    {% if subscribed %}
                        data-subscribed
                    {% endif %}
                >
                    {% if not subscribed %}    
                        Subscribe
                    {% else %}
                        Unsubscribe
                    {% endif %}
                </button>
            </div>
        </div>

        <form id="post-form" class="px-6 mt-4" style="display: none;">
            <div class="mb-6">
                <label for="post-title" class="block mb-2 ml-1 text-base font-semibold text-gray-900 dark:text-white">Post title</label>
                <input type="text" id="post-title" name="post-title" class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-200 focus:ring-blue-500 focus:border-blue-500 font-normal" placeholder="Write a provoking title here..." required>
            </div>
            <div class="mb-6">
                <label for="post-content" class="block mb-2 ml-1 text-base font-semibold text-gray-900 dark:text-white">Post content</label>
                <textarea id="post-content" name="post-content" rows="6" class="block p-2.5 w-full text-sm rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-200 focus:ring-blue-500 focus:border-blue-500" placeholder="...and your spiciest opinions here" required></textarea>
            </div>
            
            <div class="flex flex-row items-center justify-start gap-2">
                <button type="submit" class="text-black font-semibold bg-cyan-600 hover:bg-cyan-500 focus:ring-4 focus:outline-none focus:ring-blue-800 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center h-10">Send post!</button>
                <button type="button" id="close-post-form-btn" class="border-white border-solid border-2 m-1 px-3 py-2 rounded-lg font-medium text-white text-sm hover:border-gray-400 hover:text-gray-400 box-border h-10" onclick="hidePostForm()">&#10006;&nbsp;&nbsp;Close</button>
            </div>
        </form>

        <div class="px-6 mt-4 pb-2">
            <h2 class="text-gray-200 text-2xl font-semibold">Latest posts</h2>

            {% if posts|length > 0 %}
                {% for post in posts|reverse %}
                    <div class="hover:bg-slate-900 rounded-lg p-4 mt-4 ml-2 pt-3 cursor-pointer" id="post-{{ loop.index }}">
                        <div class="text-white text-sm">
                            <div>
                                <span class="text-xs">by&nbsp;</span>
                                <strong>{{ post.author.name }}</strong>
                                <span>&nbsp;&middot;&nbsp;</span>
                                <span class="text-xs">
                                    <strong>{{ post.timestamp.strftime("%H:%M") }}</strong>
                                    &nbsp;on&nbsp;
                                    <strong>{{ post.timestamp.strftime("%d %b, %Y") }}</strong>
                                </span>
                            </div>
                            
                            <h3 class="text-white text-xl mt-1 font-medium">{{ post.title }}</h3>

                            <div class="mx-4 mt-2 text-xs text-gray-200">
                                {{ post.content }}
                            </div>

                            <div class="mt-4 flex flex-row gap-4 items-center">
                                <div class="flex flex-row gap-2">
                                    <button
                                        type="button"
                                        class="flex flex-row items-center justify-start gap-2 p-2 rounded-md upvote-btn 
                                            {% if user %} hover:bg-slate-800 {% else %} text-gray-500 cursor-not-allowed {% endif %}
                                            {% if user_votes and user_votes[post.id] == 1 %} text-cyan-600 {% endif %}
                                        "
                                        {% if not user %}
                                            title="Log in to vote."
                                        {% endif %}

                                        {% if user_votes[post.id] == 1 %}
                                            data-voted
                                        {% endif %}
                                    >
                                        <i class="fa-solid fa-angle-up text-lg"></i>
                                    </button>
                                    <div class="flex flex-row items-center {% if user_votes and user_votes[post.id] != 0 %} text-cyan-600 font-semibold {% endif %}">
                                        {{ vote_scores[post.id] }}
                                    </div>
                                    <button
                                        type="button"
                                        class="flex flex-row items-center justify-start gap-2 p-2 rounded-md downvote-btn
                                            {% if user %} hover:bg-slate-800 {% else %} text-gray-500 cursor-not-allowed {% endif %}
                                            {% if user_votes and user_votes[post.id] == -1 %} text-cyan-600 {% endif %}
                                        "
                                        {% if not user %}
                                            title="Log in to vote."
                                        {% endif %}

                                        {% if user_votes[post.id] == -1 %}
                                            data-voted
                                        {% endif %}
                                    >
                                        <i class="fa-solid fa-angle-down text-lg"></i>
                                    </button>
                                </div>
                                <button type="button" class="flex flex-row items-center justify-start gap-2 p-2 rounded-md hover:bg-slate-800">
                                    <i class="fa-regular fa-comment text-lg"></i>
                                    <span>{{ num_comments[post.id] }}</span>
                                </button>
                            </div>
                        </div>

                        <hr class="!border-t-[1px] !border-t-gray-400 mt-4">
                    </div>

                    <script>
                        (() => {
                            let post = document.getElementById("post-{{ loop.index }}");
                            let upvoteBtn = post.querySelector(".upvote-btn");
                            let downvoteBtn = post.querySelector(".downvote-btn");

                            const wasClicked = (ev, node) => {
                                return ev.target == node || node.contains(ev.target);
                            };

                            post.onclick = (ev) => {
                                if (wasClicked(ev, upvoteBtn)) {
                                    if (typeof upvote !== "undefined") {
                                        typeof upvoteBtn.dataset.voted === "undefined" ? upvote("{{ post.id }}") : deleteUpvote("{{ post.id }}");
                                    }
                                }
                                else if (wasClicked(ev, downvoteBtn)) {
                                    if (typeof downvote !== "undefined") {
                                        typeof downvoteBtn.dataset.voted === "undefined" ? downvote("{{ post.id }}") : deleteDownvote("{{ post.id }}");
                                    }
                                }
                                else {
                                    window.location.href = "/post/{{ post.id }}";
                                }
                            };
                        })();
                    </script>
                {% endfor %}
            {% else %}
                <div class="text-white mt-4 text-sm">No posts yet.</div>
            {% endif %}
        </div>
    </div>

    <script>
        let postForm = document.getElementById("post-form");
        let createPostBtn = document.getElementById("create-post-btn");

        postForm.onsubmit = (event) => {
            event.preventDefault();
            
            let payload = {
                "title": document.getElementById("post-title").value,
                "content": document.getElementById("post-content").value,
            };

            let lastSlash = window.location.pathname.lastIndexOf("/");
            let url = `/post${window.location.pathname.substring(lastSlash)}`;

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },    
                body: new URLSearchParams(payload)
            }).then(() => {
                hidePostForm();
                window.location.reload()
                postForm.reset();
            });
        }

        const showPostForm = () => {
            postForm.style.display = "block";         
            createPostBtn.style.display = "none";
        };

        const hidePostForm = () => {
            postForm.style.display = "none";
            createPostBtn.style.display = "block";
        };

        let subscribeBtn = document.getElementById("subscribe-btn");
        subscribeBtn.onclick = (ev) => {
            let method = typeof subscribeBtn.dataset.subscribed === "undefined" ? "POST" : "DELETE";

            let lastSlash = window.location.pathname.lastIndexOf("/");
            let url = `/subscribe${window.location.pathname.substring(lastSlash)}`;
            fetch(url, {
                method: method,
            }).then(() => {
                window.location.reload();
            });
        };
    </script>

    {% if user %}
        <script>
            const upvote = (id) => {
                fetch(`/upvote/${id}`, {
                    method: "POST",
                }).then(() => {
                    window.location.reload();
                });
            };

            const downvote = (id) => {
                fetch(`/downvote/${id}`, {
                    method: "POST",
                }).then(() => {
                    window.location.reload();
                });
            };
        
            const deleteUpvote = (id) => {
                fetch(`/upvote/${id}`, {
                    method: "DELETE"
                }).then(() => {
                    window.location.reload()
                })
            };

            const deleteDownvote = (id) => {
                fetch(`/downvote/${id}`, {
                    method: "DELETE"
                }).then(() => {
                    window.location.reload()
                })
            };
        </script>
    {% endif %}
{% endblock %}

